@font-face {
    font-family: 'airstreamregular';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Airstream-webfont.eot");
    src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Airstream-webfont.woff') format('woff'),
         url('fonts/Airstream-webfont.ttf') format('truetype'),
         url('fonts/Airstream-webfont.svg#lakeshore') format('svg');   
}

@font-face {
    font-family: 'lakeshore';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LAKESHOR-webfont.woff') format('woff'), 
         url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
         url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');     
}



.container, .main-content {
    display: flex;
    flex-direction: column;
}
.container {
    background: url('/img/ccc.jpg');
}

.ads {
    background: #00B2EE;
}

.images {
    order: -1;
}

.page-title, .page-footer {
    background-image: linear-gradient(to bottom, grey, #00FFEF);
    font-size: 40px;
    font-family: airstreamregular;
    text-align: center;
    text-transform: uppercase;

    transition: 1000ms ease-in;
}
.page-title:hover {
    background-image: linear-gradient(to right, red, green);
    transform: rotate(-360deg);
}
h2 {
    color: rgba(255, 0, 0, 0.699);
    font-size: 30px;
    font-family: lakeshore;
    text-align: center;
}
p {
    text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;;
}

.main-header, .main-footer {
    flex: 0 1 auto;
}

.main-content {
    flex: 1 1 auto;
}

a[href="#"] {
    text-decoration: none;
}

.thumbnail-image {
    display: block;
    width: 100%;
    height: 100%;
}

.thumbnail-item {
    display: inline-block;
    min-width: 120px;
    max-width: 120px;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);

    transition: transform 200ms ease-in-out;
}

.thumbnail-item:hover {
    transform: scale(1.3);
}

.is-tiny {
    transform: scale(0.001);
    transition: transform 0ms;
}

.thumbnail-list {
    list-style: none;
    display: flex;
    padding: 20px 0;
    overflow-x: auto;
    justify-content: space-between;
    white-space: nowrap;
    flex: 0 1 auto;
}

.main-pic {
    width: 100%;
    height: 100%;
}

.main-pic-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-pic-frame {
    text-align: center;
    position: relative;

    transition: transform 333ms cubic-bezier(1, 0.06, 0.28, 1);
}

.hidden-detail .main-pic-container {
    display: none;
}

@media all and (min-width: 768px) {
    .main-content {
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .main-footer, .main-header {
        width: 100%;
    }
    .main-footer {
        order: 4;
    }

    .main-pic-container {
        flex: 2;
        order: 2;
        min-height: 80%;
    }
    
    .images {
        order: 1;
        flex: 1;
    }

    .thumbnail-list {
        flex-direction: column;
        margin-left: 20px;
        padding: 0 35px;
        overflow-y: hidden;
    }
    .thumbnail-item {
        max-width: 260px;
    }
   
    .ads {
        flex: 1;
        order: 3;
    }
    
}